$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

/* scrollbars always visible*/
html {
     overflow: -moz-scrollbars-vertical;
     overflow: scroll;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 2em;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
      // max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
      padding-left: 0;
      padding-right: 0;
  }
  /* Space out the masthead */
  .header {
      margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
      border-bottom: 0;
  }
}

/* ========= */
.main {
  font-family: "Lato", sans-serif;
}

.table-scrollable {
    overflow: auto;
}

.animate-enter, 
.animate-leave { 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}

.prefix {
  color: lightGrey;
}

.localName {
  margin-right: 2em;
}

.score {
  float: right;
  font-style: italic;
  color: lightBlue;
}

.link {
  // color: #428bca;
  color: #0088cc;
}

.treated {
  color: lightGrey;
}

.description {
  // font-size: large;
  font-style: italic;
  color: darkGrey;
}

.navigation {
  position: fixed;
}

.active > a {
  color: #005580;
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.2), inset -1px 0 0 rgba(0,0,0,.2);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.2), inset -1px 0 0 rgba(0,0,0,.2);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.2), inset -1px 0 0 rgba(0,0,0,.2);
}

.wizard {
  margin-bottom: 512px;
}

h3.mainControl, h1.mainControl, h2.mainControl, h4.mainControl {
  margin-bottom: 2em;
}

tr.disabled {
  background-color: #EEE;
  color: #888;
  text-decoration: line-through;
}

div.mainArea{
    margin: 0 0 1em 0;
}

div.mainArea > div{
  padding: 1.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* step number in step by step guide*/
div.mainArea .step{
float: right;
font-size: 400%;
color: #79f079;
}

div.mainControl {
  background-color: #f5f5f5;
  /*margin: 0 3em;*/
  border-right: .3em solid white;;
}

div.guide {
  border-left: .3em solid white;
  background-color: #5cb85c;
  color: white;
  height: 100%;
}

div.table_tree {
  font-size: larger;
  /*width: 50%;
  border: 1px dashed red;*/
}

div.mainControl, div.guide{
  min-height: 35em;
}

div.table_tree .table{
  margin-bottom: 1.5em;
  /*width: 35em;*/
}
/*
div.table_tree .row{
  margin-left: 2em;
  width: 33em;
}*/


.table_tree button {
  border: none;
  color: #999999;
  background: transparent;
  font-weight: bold;
  font-size: larger;
  width: 1.5em;
}

.table_tree div.item {
  background-color: #fdfdfd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: .2em;
  border: 1px solid #ddd;
  padding: .2em;
}

.table_tree div.item_dbl_top {
-moz-border-radius: 3px 3px 0px 0px;
border-radius: 3px 3px 0px 0px;
border-style:solid;
border-color: #ddd;
border-width: 1px 1px 0px 1px;
padding: .2em;
background-color: #fdfdfd;
}

.table_tree div.item_dbl_bottom {
-moz-border-radius: 0px 0px 3px 3px;
border-radius: 0px 0px 3px 3px;
border-style:solid;
border-color: #ddd;
border-width: 0px 1px 1px 1px;
padding: .2em;
background-color: #f8f8f8;
margin-bottom: .2em;
}


.table_tree .glyphicon {
  color: #999999;
}

.table_tree .label {
  margin-top: 0.3em;
  margin-right: 0.3em;
  float: right; 
  font-size: 60%;
}

.table_tree .col_name {
  width: 20em;
}



/*
.chosen{
  background-color: green;
}

.rejected{
  background-color: red;
}*/


.table-btn {
  width: 10em;
}

.table-input {
  width: 100%;
}

.green
{
  color: #5cb85c;
}

.grey
{
  color: #aaa;
}

.green_lightbg
{
  background-color: #9f9;
}

.grey_lightbg
{
  background-color: #ccc;
}

.table_label{
  text-transform: uppercase;
  font-size: 60%;
  font-weight: bold;
  letter-spacing: -1px;
  padding-right: 1em;
  width: 7em;
}
