@import "bootstrap-sass/lib/bootstrap";
// @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

/* Put your CSS here */
html, body {
    margin: 30px 0;
}

table {
    max-width: none;
}

.table-scrollable{
    overflow: auto;
}
