<div ng-controller="dbContentsCtrl">

  <table class="table table-scrollable">
    <tr ng-repeat="table in rdb.tables()">
      <th class="btn-th">
        <button type="button" 
                class="btn btn-primary btn-sm table-btn" 
                ng-class="{active: rdb.isSelectedTable(table)}"
                ng-click="rdb.toggleSelectTable(table)"> 
          {{table}}
        </button>
      </th>

      <td>
        <button ng-repeat="column in rdb.tableColumns()[table]" 
                type="button" 
                class="btn btn-default btn-sm table-btn"
                ng-class="{disabled: !rdb.isSelectedTable(table), active: rdb.isSelectedColumn(table, column)}"
                ng-click="rdb.toggleSelectColumn(table, column)"
                columntip> 
            {{column}}
        </button>
        <!-- <button ng&#45;repeat="column in rdb.tableColumns()[table]"  -->
        <!--         type="button"  -->
        <!--         class="btn btn&#45;default btn&#45;sm table&#45;btn" -->
        <!--         ng&#45;class="{disabled: !rdb.isSelectedTable(table), active: rdb.isSelectedColumn(table, column)}" -->
        <!--         ng&#45;click="rdb.toggleSelectColumn(table, column)" -->
        <!--         popover popover&#45;html="Some <em>Popover</em><hr/> Text" popover&#45;trigger="hover" popover&#45;placement="bottom" -->
        <!--         columntip>  -->
        <!--     {{column}} -->
        <!-- </button> -->
      </td>
    </tr>
  </table>
</div>
