<div class="main container" ng-controller="MainCtrl">

  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a ng-href="#">Home</a></li>
      <li><a ng-href="#">About</a></li>
      <li><a ng-href="#">Contact</a></li>
    </ul>
    <h3 class="text-muted">R2R Mapping Designer</h3>
  </div>

  <wizard>
    <!-- <step name="welcome" -->
    <!--   heading="Transforming Relational Data to Linked Data"> -->
    <!-- </step> -->

    <!-- <step name="datasource configuration" -->
    <!--   heading="Datasource Configuration"> -->
    <!--   <div ng&#45;include src="'partials/config.html'"></div> -->
    <!-- </step> -->

    <!-- <step name="database contents" -->
    <!--       heading="Database Contents" -->
    <!--       sidetip="sidetip"> -->
    <!--   <div ng&#45;include src="'partials/dbcontents.html'"></div> -->
    <!-- </step> -->

    <!-- <step name="reconciliation" -->
    <!--       heading="Reconcile Database Structure" -->
    <!--       sidetip="sidetip"> -->
    <!--   <div ng&#45;include src="'partials/reconcile.html'"></div> -->
    <!-- </step> -->

    <!-- <step name="revising" -->
    <!--   heading="Revise Output RDF"> -->
    <!--   <div ng&#45;include src="'partials/refine.html'"></div> -->
    <!-- </step> -->

    <step name="publishing"
      heading="Publish as SPARQL endpoint">
      <div ng-include src="'partials/publish.html'"></div>
    </step>
  </wizard>

  <p align="center" style="font-size: 20px">❦</p>
</div>
