<div class="main container" ng-controller="MainCtrl" style="min-height:128em">

  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a ng-href="#">Home</a></li>
      <li><a ng-href="#">About</a></li>
      <li><a ng-href="#">Contact</a></li>
    </ul>
    <h3 class="text-muted">R2R Mapping Designer</h3>
  </div>

  <wizard>
    <step name="welcome"
      heading="Transforming Relational Data to Linked Data"
      description="foo"
      sidetip="sidetip">
    </step>

    <step name="datasource configuration"
      heading="Datasource Configuration"
      description="bar"
      sidetip="sidetip">
      <div ng-include src="'partials/config.html'"></div>
    </step>

    <step name="database contents"
      heading="Database Contents"
      sidetip="sidetip">
      <div ng-include src="'partials/dbcontents.html'"></div>
    </step>

    <step name="reconciliation"
      heading="Reconcile Database Structure"
      sidetip="sidetip">
      <div ng-include src="'partials/reconcile.html'"></div>
    </step>

    <step name="revising"
      heading="Revise Output RDF"
      sidetip="sidetip">
      <div ng-include src="'partials/refine.html'"></div>
    </step>

    <step name="publishing"
      heading="Publish as SPARQL endpoint"
      sidetip="sidetip">
      <div ng-include src="'partials/publish.html'"></div>
    </step>
  </wizard>

  <p align="center" style="font-size: 20px">❦</p>
</div>
