<a href="#/step/database">alternative view</a>

<h3>Step #2</h3>
<h2 class="mainControl">Relational Database View</h2>

<div class="table_tree">
  
  <div class="table" ng-repeat="table in tables" id="{{table.tableName}}_table">
    <div class="item">
      <button ng-if="table.enlist" type="button" title="exclude table" ng-click="enlistTable(false, table.tableName+'_table')">-</button>
      <button ng-if="!table.enlist" type="button" title="include table" ng-click="enlistTable(true, table.tableName+'_table')">+</button>
      {{table.tableName}}
    </div>

      <div ng-if="table.enlist" class="row item" ng-repeat="col in table.columns">
        <button ng-if="col.enlist" type="button" title="exclude table row" ng-click="enlistTableRow(false, col)">
          <span class="glyphicon glyphicon-eye-open"></span>
        </button>
        <button ng-if="!col.enlist" type="button" title="include table row" ng-click="enlistTableRow(true, col)">
          <span class="glyphicon glyphicon-eye-close"></span>
        </button>
        <span class="col_name">{{col.colName}}</span>
        <span class="label label-primary">{{col.colType}}</span><span class="label label-default" ng-repeat="pref in col.colPreference">{{pref}}</span> 
      </div>

  </div>



</div>

