<div ng-controller="RdfCtrl">
  <h2>RDF View</h2>

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="subjectTemplateInput" class="col-md-2 control-label">Subject Template</label>
      <div id="subejectTemplateInput" class="col-md-9">
        <input class="form-control" placeholder="Ex. {CustomerId}/{Address}#" ng-model="subjectTemplate" ng-blur="submitSubjectTemplate(subjectTemplate)" />
      </div>
    </div>

    <div class="form-group">
      <label for="typeInput" class="col-md-2 control-label">Type</label>
      <div id="typeInput" class="col-md-9">
        <select class="form-control" ng-model="type" ng-options="i for i in types">
          <option value="">Select type ... </option>
        </select>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label for="predicateInput" class="col-md-2 control-label">map</label>
      <div id="predicateInput" class="col-md-9">
        <select class="form-control" ng-model="property" ng-options="i for i in properties">
            <option value="">Select property ... </option>
        </select>
      </div>
      <label class="col-md-1 control-label">to</label>

      <div class="radio">
        <div class="col-md-1 col-md-offset-2">
          <input type="radio" name="objectMapRadios" value="option1" checked>
        </div>
        <div id="columnSelect" class="col-md-8">
          <select class="form-control" ng-model="column" ng-options="i for i in rdb.columns">
            <option value="">Select column ... </option>
          </select>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>

        <div class="col-md-1 col-md-offset-2">
          <input type="radio" name="objectMapRadios" value="option1">
        </div>
        <div id="objectTemplateInput" class="col-md-8">
          <input type="text" class="form-control" placeholder="Ex. {Name}/{Address}"/>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
    </div>
  </form>

  <form class="form-search"> 
    <div>
      <input type="text" ng-model="search" placeholder="Search ..." class="form-control search-query">
    </div>
  </form>

  <div class="table-scrollable">
    <table class="table">
      <tr>
        <th>Subject</th>
        <th>Property</th>
        <th>Object</th>
      </tr>

      <tr ng-repeat="triple in triples | filter:search">
        <td>{{triple[0]}}</td>
        <td>{{triple[1]}}</td>
        <td>{{triple[2]}}</td>
      </tr>
    </table>
  </div>
</div>

