<div class="page-header">
  <h1>Welcome to the R2R Mapping Designer! <small>Welcome to the Semantic Web!</small></h1>
</div>

<p>This Tool supports transforming relational databases into RDF triple format.</p>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/bausteine.jpg" alt="Pic">
      <div class="caption">
        <h3>Wizard</h3>
        <p>Transform your data by following guided steps.</p>
        <p><a href="#/step/connection" class="btn btn-primary" role="button">Start Wizard</a> <a href="#" class="btn btn-default" role="button">About Wizard</a></p>
      </div>
    </div>
  </div>
</div>