<a href="#/step/rdb">alternative view</a>

<h2 class="mainControl">RDF Triples View</h2>

<div class="table_tree">
 
<!-- TABLE -->  
  <div class="table" ng-repeat="table in tables">
    <div class="row">
      <div class="col-md-3 item">
        <i class="fa fa-edit grey"></i>
        <span class="table_label">Table:</span>{{table.tableName}}

      </div>
        <div class="col-md-3">
          <span class="table_label">Subject:
          <input type="text" value="http://example.net/{{col.col_name}}"></span>
        </div>
        <div class="col-md-3">
          <span class="table_label">Predicate:
          <input type="text" value="typeof"></span>
        </div>
        <div class="col-md-3">
          <span class="table_label">Object:
          <input type="text" value="http://example.net/object"></span>
        </div>
    </div>

<!-- COLUMNS -->
    <div ng-repeat="col in table.columns">
      <div class="row" ng-if="col.enlist">
        <div class="col-md-1">          
        </div>
        <div class="col-md-2 item">
          <!--i ng-class="{'fa':true, 'fa-eye':!col.expand, 'fa-eye-slash':col.expand, 'grey':true}" ng-click="col.expand=!col.expand"></i-->
          <span class="table_label">Column:</span><span class="col_name">{{col.colName}}</span>

        </div>
        <div class="col-md-3">
          <span class="table_label">Subject:
          <input type="text" value="http://example.net/{{col.col_name}}"></span>
        </div>
        <div class="col-md-3">
          <span class="table_label">Predicate:
          <input type="text" value="typeof"></span>
        </div>
        <div class="col-md-3">
          <span class="table_label">Object:
          <input type="text" value="http://example.net/object"></span>
        </div>


        </div>
      </div>
<!-- SAMPLE VALUES -->
      <div ng-if="col.expand" class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10 item_dbl_bottom">
          <span class="table_label">Samples:</span><span ng-repeat="sample in col.sampleValues">{{sample}}, </span>...
        </div>
        <div class="col-md-1">
        </div>        
      </div>
    
    </div>


  </div>

</div>

