<div>
  <div class="row">
    <div id="customMappingSelect" class="col-md-10">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Custom Mapping">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span><!-- Search --></button>
        </span>
      </div>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
  </div>

  <div class="row">
    <ul id="mapping-list" class="list-unstyled">
      {{#each controllers.mappings.active}}
        <li>
          <div class="col-md-10">
            <label>{{shortname}}</label>
          </div>
          <div class="col-md-2">
            <button class="btn btn-default"><span class="glyphicon glyphicon-ban-circle"></span></button>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
