<div class="container-fluid">
  <h2>Database View</h2>
  <div class="row">
    <div class="radio">
      <label>
        <input type="radio" name="logicalTableRadios" value="option1" checked>
        <div id="tableSelect">
          {{view R2rDesigner.TableSelectView}}
        </div>
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="logicalTableRadios" value="option2">
        <textarea class="form-control" rows="8">
SELECT EMP.*, (CASE JOB
    WHEN 'CLERK' THEN 'general-office'
    WHEN 'NIGHTGUARD' THEN 'security'
    WHEN 'ENGINEER' THEN 'engineering'
END) ROLE FROM EMP
        </textarea>
      </label>
    </div>
  </div>

  <div class="table-scrollable">
    <table class="table">
      <tr>
        {{#each column in controllers.rdb.currentColumns}}
          <th>{{column}}</th>
        {{/each}}
      </tr>
      {{#each row in controllers.rdb.currentDataset}}
        <tr>
          {{#each item in row}}
            <td>
              {{item}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </table>
  </div>
</div>
