<div class="container-fluid">
  <h2>RDF View</h2>

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="subjectTemplateInput" class="col-md-2 control-label">Subject Template</label>
      <div id="subejectTemplateInput" class="col-md-9">
        {{view Ember.TextField
            classNames = "form-control"
            placeholder = "Ex. {CustomerId}/{Address}#_"
            valueBinding = "controllers.rdf.subjectTemplate"
        }} 
      </div>
    </div>

    <div class="form-group">
      <label for="typeInput" class="col-md-2 control-label">Type</label>
      <div id="typeInput" class="col-md-9">
        <select class="form-control">
          <option>&lt;rdfs:class&gt;</option>
        </select>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>

    <div class="form-group">

      <label for="propertyInput" class="col-md-2 control-label">map</label>
      <div id="propertyInput" class="col-md-9">
        <select class="form-control">
          <option>&lt;rdf:property&gt;</option>
        </select>
      </div>
      <label class="col-md-1 control-label">to</label>

      <div class="radio">
        <div class="col-md-1 col-md-offset-2">
          <input type="radio" name="objectMapRadios" value="option1" checked>
        </div>
        <div id="columnSelect" class="col-md-8">
          {{view App.ColumnSelectView}}
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>

        <div class="col-md-1 col-md-offset-2">
          <input type="radio" name="objectMapRadios" value="option1" checked>
        </div>
        <div id="subjectTemplateInput" class="col-md-8">
          <input type="text" class="form-control" placeholder="Ex. {Name}/{Address}"/>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="table-scrollable">
    <table class="table">
      <tr>
        <th>Subject</th>
        <th>Predicate</th>
        <th>Object</th>
      </tr>

      <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
      <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
      <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
      <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
      <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
      <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
      <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
      <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
      <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
      <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
    </table>
  </div>
</div>
