<div class="row">
  <div id="customVocabSelect" class="col-md-10">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Custom Vocabulary">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span><!-- Search --></button>
      </span>
    </div>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span><!-- Add --></button>
  </div>
</div>

<div class="row">
  <ul id="mapping-list" class="list-unstyled">
    {{#each controllers.vocabs.active}}
      <li>
        <div class="col-md-10">
          <label>{{shortname}}</label>
        </div>
        <div class="col-md-2">
          <button class="btn btn-default"><span class="glyphicon glyphicon-ban-circle"></span><!-- Delete --></button>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
